@import '~bootstrap/dist/css/bootstrap.min.css';
:host { /* ipv het op de body te zetten zet je het hier dus op de host, yep, inderdaad, zonet getest */
  font-family:Helvetica, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}
h1{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.content {
  display: flex;
  align-items: center;
}
a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 575px) {
}
