:host { /* ipv het op de body te zetten zet je het hier dus op de host, yep, inderdaad, zonet getest */
  font-family:Helvetica, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}
.content {
  display: flex;
  align-items: center;
}
span{
  font-size: 24px;
}
a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}
footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
footer a {
  display: flex;
  align-items: center;
}
/* Responsive Styles */
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 575px) {
}
